*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background: linear-gradient(#e2e2e2, #cfdfcb, #bbe0b2 , #268500);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
}

header {
    padding: 8px 0;
    background-color: #053263;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    max-width: 120px;
    width: 100%;
}

.menu {
    width: 40%;
    display: flex;
}

.menu-items {
    padding: 0 20px;
    margin-top: 10px;
    display: inline-block;
}

.menu-items a {
    color:white;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.menu-items a:hover {
    color: white;
}

.search {
    width: 60%;
    text-align: right;
}

.input-search {
    position: relative;
    width: 200px;
    display: inline-block;
}

.input-search i {
    position: absolute;
    left: 4px;
    top: 15px;
    color: rgb(100, 100, 100);
}

.input-search input[type=text] {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(120, 120, 120);
    margin: 9px 0;
    padding-left: 24px;
    background-color: #0F171E;
    color: white;
}

.banner-principal {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: black;
    width: 100%;
    margin: 30px 0;
}

.card-movie {
    width: 20%;
}

.card-movie img {
    width: 100%;
    transition: 1s;
}

.card-movie img:hover {
    transform: scale(1.1, 1.1);
}